@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Noto+Sans+Lao:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans Lao", "Inter", ui-sans-serif, system-ui, sans-serif;
}

@media print {
  body * {
    visibility: hidden;
  }
  #print-receipt-section, #print-receipt-section * {
    visibility: visible;
  }
  #print-receipt-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
